alembic==1.18.4
apprise==1.9.7
bcrypt==4.0.1
coverage[toml]==7.13.4
croniter==1.4.1
cryptography==46.0.5
fastapi-cache2==0.2.2
fastapi==0.129.0
gunicorn==23.0.0
httpx==0.28.1
passlib[bcrypt]==1.7.4
psutil==5.9.6
pydantic-settings==2.13.0
pydantic==2.12.5
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest==7.4.3
python-dotenv==1.2.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.22
pyyaml==6.0.3
redis==5.0.1
requests==2.32.5
sqlalchemy==2.0.46
structlog==23.2.0
uvicorn[standard]==0.41.0